<section class="page">
    <div class="container">    
        <h3><%= @part.name %></h3>
        <p><%= @part.manufacturer %></p>
        <p><%= @part.description %></p>
        <p><%= @part.model %></p>
        <p><%= @part.category %></p>

        <% if current_user.is_owner?(@part) %>
            <h5><%= link_to "Edit this item", edit_part_path(@part) %></h5>

            <% if !!@listing %>
                <h5><%= link_to "View Listing", listing_path(@listing) %></h5>
            <% else %>
                <h5><%= link_to "Sell this item", new_part_listing_path(@part, @listing) %></h5>
            <% end %>
        <% end %>
    </div>
</section>