<%= form_for [@part, @listing] do |f| %>
    <div class="form-group">
        <%= f.label :condition, "Condition" %>
        <% Part.conditions.each do |q| %>
        <%= f.radio_button :condition, q %> <%= q.capitalize %>
        <% end %>
    </div>
    <div class="input-group col-sm-4">
        <%= f.label :price, "Price" %>
        <div class="input-group-prepend">
            <div class="input-group-text" id="btnGroupAddon"><i class="fas fa-dollar-sign"></i></div>
        </div>
        <%= f.text_field :price, class: "form-control"%>
    </div>
    <%= f.submit %>
<% end %>