<header class="jumbotron jumbotron-fluid jumbotron-header bg-dark">
    <%= image_tag "dots.png", class: "dots" %>
    <div class="container">
        <h1 class="display-5 text-light"><%= @listing.part.name %></h1>
    </div>
</header>
<section class="container">
    <h3><%= @listing.part.manufacturer %> // <%= @listing.part.category %></h3> 
    <p><%= @listing.part.description %></p>
    <p>Condition: <%= @listing.condition.capitalize %></p>
    <p>$<%= @listing.price %></p>

    <% if current_user.current_cart.listings.include?(@listing) %>
        <%= button_to 'Remove from Cart', cart_remove_listing_path(current_user.current_cart,@listing), method: :get, class: 'btn btn-outline-danger' %>
    <% else %>
        <%= button_to 'Add to Cart', cart_add_listing_path(current_user.current_cart,@listing), method: :get, class: 'btn btn-outline-success' %>
    <% end %>
</section>
