<ul>
<% @user.transactions.each do |t| %>
    <% if t.buyer == @user %>
        <li>You bought a <i><%= link_to t.part.name, part_path(t.part) %></i> from @<%= t.seller.username %> for $<%= t.price %></li>
    <% elsif t.seller = @user %>
        <li>You sold a <i><%= link_to t.part.name, part_path(t.part) %></i> from @<%= t.buyer.username %> to $<%= t.price %></li>
    <% end %>
<% end %>
</ul>