<div class="page">
    <section class="container">
        <h1><%= @user.name %></h1>
        <h3><%= @user.email %></h3>

        <h5><%= link_to "Edit this User", edit_user_path(@user) %></h5>

        <h4>Current Listings</h4>
        <%= render 'user-listings' %>
        <h4>Your Parts</h4>
        <%= render 'user-parts' %>
        <h4>Your Transactions</h4>
        <ul>
        <% @user.transactions.each do |t| %>
            <% if t.buyer == @user %>
                <li>You bought a <i><%= link_to t.part.name, part_path(t.part) %></i> from @<%= t.seller.username %> for $<%= t.price %></li>
            <% elsif t.seller = @user %>
                <li>You sold a <i><%= link_to t.part.name, part_path(t.part) %></i> from @<%= t.buyer.username %> to $<%= t.price %></li>
            <% end %>
        <% end %>
        </ul>
    </section>
</div>