<div class="page">
    <section class="container">
        <h1><%= @user.name %></h1>
        <h3><%= @user.email %></h3>

        <h5><%= link_to "Edit this User", edit_user_path(@user) %></h5>

        <h4>Current Listings</h4>
        <%= render 'user-listings' %>
        <h4>Your Parts</h4>
        <%= render 'user-parts' %>
        <h4>Your Transactions</h4>
        <%= render 'user-transactions' %>
    </section>
</div>